#article_title{
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 48px;
    text-align:center;
    color: blue;
    
}
body {
    background-color: powderblue;
}
#Signika {
    font-family: 'Signika', sans-serif;
    font-size: 30px;
}