h1 {
    color: black;
    
}

#special{
    color: black;
    <style="text-align:center;">
}

#python{
    font-size:24px;
    
}

#woohoo{
    font-family: 'Dancing Script', Georgia, Times, serif;
    font-size: 50px;
    line-height: 50px;
    text-align:center;
    
}
body {
    text-align:center;
    
}
#row1{
    text-align:left;
    
}
#Raleway {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 70px;
}
#portfolio{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
    text-align:center;
    
}